.background {
    background-color:#3c4d26
}

.container {
    background-color: #3c4d26;
}

h1 {
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}